$headerPicAttributionColor: #f8f9fa80 !important;

.header {
  height: 100vh;
  // background-color: teal;
  // TODO: load from public/assets instead
  background-image: url(https://images.unsplash.com/photo-1593642634443-44adaa06623a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;

  .headerOverlay {
    position: absolute;
    top: 25%;
    right: 5%;
    overflow: hidden;
  }

  .headerPicAttribution {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    overflow: hidden;
    color: $headerPicAttributionColor;
    font-size: 1rem;
  }
  .headerPicAttribution {
    a {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      color: $headerPicAttributionColor;
    }
  }
}

.navbar {
  background-color: rgb(119 136 153 / 40%);
  padding: 1rem;
  transition: background-color 500ms linear;
  z-index: 1000;

  .navBrand {
    .navBrandHead {
    }
    .navBrandSubhead {
      font-size: 1rem;
    }
  }

  &:hover {
    background-color: rgb(119 136 153 / 90%);
  }
}

@media all and (min-width: 576px) {
  .navbar {
    .navBrand {
      .navBrandSubhead {
        font-size: inherit;
      }
    }
  }
}

//TODO: improve navbar hover styling

// .navbar {
//   &:hover {
//     background-color: rgb(119 136 153 / 90%);
//     background-color: whitesmoke;

//     .navBrand {
//       color: black;
//     }
//     .navBrandHead {
//       color: black;
//     }
//     .navBrandSubhead {
//       color: black;
//     }
//     .navLink {
//       color: black;
//     }
//   }
// }
