.header {
  height: 100vh;
  background-color: teal;
  background-image: url(https://images.unsplash.com/photo-1593642634443-44adaa06623a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.headerOverlay {
  position: absolute;
  top: 25%;
  right: 5%;
  overflow: hidden;
}

.navbar {
  background-color: rgb(119 136 153 / 40%);
  padding: 1rem;
  transition: background-color 500ms linear;
  z-index: 1000;
}

.navbar:hover {
  background-color: rgb(119 136 153 / 90%);
}

.navBrandSubhead {
  font-size: 1rem;
}

@media all and (min-width: 576px) {
  .navBrandSubhead {
    font-size: inherit;
  }
}
