html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Utilties */

/* Sizing for bootstrap badges */

.badge.h1,
.badge.xxx-large {
  font-size: 2.5rem;
}
.badge.h2,
.badge.xx-large {
  font-size: 2rem;
}
.badge.h3,
.badge.x-large {
  font-size: 1.75rem;
}
.badge.h4,
.badge.larger {
  font-size: 1.5rem;
}
.badge.h5,
.badge.large {
  font-size: 1.25rem;
}

.badge.medium-plus {
  font-size: 1.125rem;
}

.badge.h6,
.badge.medium {
  font-size: 1rem;
}
.badge.small {
  font-size: 0.75rem;
}
.badge.x-small {
  font-size: 0.5rem;
}
.badge.xx-small {
  font-size: 0.25rem;
}

/* letter spacing */

.ls-1 {
  letter-spacing: 0.0625rem;
}
.ls-2 {
  letter-spacing: 0.125rem;
}
.ls-3 {
  letter-spacing: 0.1875rem;
}
.ls-4 {
  letter-spacing: 0.25rem;
}
.ls-5 {
  letter-spacing: 0.3125rem;
}

/* divider for sections etc with ntegrated caption */
/* credit: https://stackoverflow.com/questions/2812770/add-centered-text-to-the-middle-of-a-horizontal-rule */

.dividerWithCaption {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.dividerWithCaption > span {
  position: relative;
  display: inline-block;
}

.dividerWithCaption > span:before,
.dividerWithCaption > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: white;
}

.dividerWithCaption > span:before {
  right: 100%;
  margin-right: 15px;
}

.dividerWithCaption > span:after {
  left: 100%;
  margin-left: 15px;
}
