.header {
  height: 100vh;
  background-color: teal;
  background-image: url(https://images.unsplash.com/photo-1593642634443-44adaa06623a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.headerOverlay {
  position: absolute;
  top: 25%;
  right: 5%;
  /* transform: translate(-60%, -30%); */
  overflow: hidden;
  /* background-color: rgb(0, 0, 0, 0.6); */

  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  /* width: 100%; */
  /* height: 100%; */
}

.navbar {
  background-color: rgb(0 0 0 / 30%);
  padding: 1rem;
}

.section {
  padding: 100px 0;
}

.sectionHead {
  margin-top: 0;
  margin-bottom: 15px;
}

.sectionSubhead {
  /* TODO: Different font  */
  /* font-size: 2rem; */
  font-weight: 400;
  margin-bottom: 75px;
  text-transform: none;
}

.projectCard {
  /* height: 90% !important; */
}

.cardImage {
  width: 92%;
  /* height: 90%; */
  margin: auto;
  position: relative;
  top: -2.5rem;
  /* left: -1rem; */

  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.cardBody {
  margin: -1rem 0 0 0;
  padding: 0 2rem 2rem 2rem;
}

.cardFooter {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: flex-end;
  /* color: #6c757d; */
}

@media all and (min-width: 1024px) {
  .cardImage {
    width: 100%;
    height: 100%;
    margin: auto;
    /* position: static; */
    top: -1.5rem;
    left: -1.5rem;
  }

  .cardBody {
    margin: 0 0 0 -1rem;
    padding: 1.5rem;
  }

  .cardFooter {
    margin: 0 0 0 -1rem;
    padding: 0.5rem 1.5rem;
    /* color: #6c757d; */
  }
  @me;
}
