.navbarSticky {
}

.section {
  padding: 100px 0;

  /* -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  position: relative; */
}
.aboutSection {
  background-color: #56c6c6;
  background-color: #14b8b8;
  background-color: darkturquoise;
  background-color: #37bc9b;

  background-color: #4fc1e9;
  background-color: #3bafda;
  background-color: #48cfad;
  background-color: #37bc9b;
  background-color: cadetblue;

  background-color: #359093;
  background-color: #80a2a3;
  background-color: #a1cacc;

  background-color: lightslategray;
}

.sectionHead {
  margin-top: 0;
  margin-bottom: 15px;
  color: slategray !important;
}

.sectionSubhead {
  /* TODO: Different font  */
  /* font-size: 2rem; */
  font-weight: 400;
  margin-bottom: 75px;
  text-transform: none;
  color: lightslategray !important;
}

.aboutSection .sectionHead {
  color: white !important;
}
.aboutSection .sectionSubhead {
  color: white !important;
}

.aboutMe {
  border-radius: 12px;
  color: white;

  /* background-color: lightslategray; */
}
.profileImage {
  border-radius: 100%;
  z-index: 30;
  border: 3px solid #fff !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.skillTiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, 130px);
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill__logo {
  font-size: 3rem;
}
.skill__name {
  font-size: 1.25rem;
  white-space: nowrap;
}
