.navbarSticky {
}

.section {
  padding: 100px 0;

  /* -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  position: relative; */
}

.currentSection {
  background-color: white;
}

.moreSection {
  background-color: ghostwhite;
}
.aboutSection {
  background-color: lightslategray;
}

.skillsSection {
  background-color: #8b99a7;
  color: white;
}

.sectionHead {
  margin-top: 0;
  margin-bottom: 15px;
  color: slategray !important;
}

.sectionSubhead {
  font-weight: 400;
  margin-bottom: 75px;
  text-transform: none;
  color: lightslategray !important;
}

.aboutSection .sectionHead,
.skillsSection .sectionHead {
  color: white !important;
}
.aboutSection .sectionSubhead,
.skillsSection .sectionSubhead {
  color: #d2d2d2 !important;
}

.aboutMe {
  border-radius: 12px;
  color: white;
}
.aboutProfileImage {
  border-radius: 100%;
  z-index: 30;
  border: 3px solid #fff !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.aboutTldrList {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

/* large - lg */
@media screen and (min-width: 992px) {
  .aboutTldrList {
    text-align: start;
    padding-left: 2rem;
    list-style-type: disc;
    list-style-image: none;
    list-style-position: outside;
  }
}

.aboutContactOptions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(115px, auto));
  gap: 1rem;
  justify-items: stretch;
  justify-content: center;
}
.aboutContactOptions a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  /* color: darkslategray !important; */
  color: #6c757d !important;
  direction: ltr !important;
}

.skillTiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, 130px);
  justify-content: center;
  padding: 0.25rem;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill__logo {
  font-size: 3rem;
}
.skill__name {
  font-size: 1.25rem;
  white-space: nowrap;
}

.tldrListGroup {
  background-color: #c2d9f0;
  border-radius: 10px;
}
.tldrListGroup li {
  background-color: whitesmoke;
  padding: 1.5rem 1rem;
}

.tldrListItemCurrent h6 {
  font-weight: 700;
}

.tldrListGroup li span {
  min-width: 60%;
}

/* small - sm */
@media screen and (min-width: 576px) {
  .tldrListGroup li span {
    min-width: 60%;
    min-width: auto;
  }
}

.tldrListItemCurrent span {
  background-color: #62707f !important;
}

.tldrListItemWhileBack h6 {
  /* color: #1a4066; */
  font-weight: 700;
}

.tldrListItemWhileBack span {
  background-color: #758595 !important;
}

.tldrListItemWayBack h6 {
  /* color: #1a4066; */
  font-weight: 700;
}

.tldrListItemWayBack span {
  /* background-color: #1a4066;
  background-color: rgb(26 64 102 / 55%); */
  /* background-color: rgba(108, 117, 125, 0.75) !important; */
  background-color: #8c99a6 !important;
}
